* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}


body {
  /* background-color: papayawhip;
  */
  background-color: #E2F6FC;
  background-image: linear-gradient( #E2F6FC 0%, #FFFFFF 80%);
  /* background-image: linear-gradient( #E2F6FC 0%, #B5FFFF 74%); */
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  min-height: 100vh;
}
main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background-color: #fff; */
}
h1, h2, h3, h4, h5 {
  color: #333;
}
.nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-container li {
  list-style: none;
  padding: 0 1rem;
}
.sub-header {
  font-weight: 200;
  font-size: 2rem;
}
.sub-header-text {
  font-size: 1rem;
  font-weight: 200;
  color: #777;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.cta-button {
  background-color: #333;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-weight: 200;
  text-decoration: none;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.cta-button:hover {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
}

.hero-section {
  width: 100%;
  height: auto;
  min-height: 96vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
}

.hero-header {
  font-size: 3.5rem;
}

.hero-text {
  flex: 1;
  align-self: center;

}
.hero-image {
  flex: 1;
  justify-self: flex-start;
}

.download-icons  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;
  list-style: none;
}

.popular-destinantion-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* aspect-ratio: 1; */
  /* padding: 1rem 0; */
  gap: 2rem;
  margin-top: 1.5rem;
  list-style: none;
}
.popular-destinantion-card {
  max-width: calc(100% / 4);
  flex: 1;
  align-self: center;
  justify-self: center;
  /* padding: 1rem; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.card-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* object-fit: cover; */
}

.popular-destinantion-card-text {
  padding: 1rem;
  padding-top: 0;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
}
.location-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;


}
.icons {
  width: 24px;
}


.sectionx2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0; */
  gap: 2rem;
  margin-top: 1.5rem;
  list-style: none;
}
.section-spacer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.md-image-hero {
  width: 100%;
  max-width: 512px;
}
.flex-2-cols {
  display: flex;

  justify-content: space-between;
  /* align-items: center; */
}
.hero-img-col {
  flex: 1;
  /* justify-items: center; */
  /* background-color: papayawhip; */
}
.hero-text-col {
  flex: 1;
  /* justify-items: center; */
  /* background-color: red; */
}
.text-col-header {
  font-size: 2rem;
  font-weight: 200;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sec-option {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 2rem;
}
.sec-option:first-child {
  box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.02), 0px 16px 24px rgba(96, 97, 112, 0.12);
}
.icons-container {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: papayawhip; */
}
.aside-icon {
  display: flex;
  flex-direction: column;
}
.aside-icon h4 {
  font-size: 1.1rem;
  font-weight: 400;
}
.section-spacer {
  margin-top: 10rem;
}



@media (max-width: 1180px) {
  .hero-section {
    /* background-color: purple; */
    flex-direction: column;
    margin-top: 4rem;
  }
  .flex-2-cols {
    flex-direction: column;
    flex-direction: column-reverse;
    margin-top: 4rem;

  }
  .nav-links-container {
    display: none;
  }
  .hero-img-col {
    justify-self: center;
      align-self: center;
      margin-top: 2rem;
  }
  .popular-destinantion-cards {

  }
  .popular-destinantion-card {
  }
}